* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curtain {
  background-color: white;
  position: fixed;
  z-index: 69;

  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #FFF;
}

nav {
  width: 100vw;
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

.book {
  border: 0px solid #FFF;
  border-radius: 0px; */
  background-color: #FFF;
  display: block;

  position: relative;
  width: 100vw;
}

.book > img {
  display: block;
  width: 100vw;
}

li.book > h1 {
  display: none;
}

li.book:hover > h1 {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;

  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 2em;
  letter-spacing: 2px;

  z-index: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media only screen and (min-width: 511px) and (max-width: 1020px) {
  .book {
    width: 50vw;
  }

  .book > img {
    width: 50vw;
  }
}

@media only screen and (min-width: 1021px) {
  nav {
    max-width: 100vw;
    margin: 0 auto;
  }

  .book, .book > img {
    width: 25vw;
  }
}
